@use '../common-styles/colors.sass' as colors

@mixin header-text-positioning($x, $y)
  position: absolute
  top: 50%
  left: 50%
  transform: translate($x, $y)

.header
  &-text
    color: colors.$white
    font-family: Benton Sans
    text-transform: uppercase

header
  position: relative
  height: 24.4rem

h1
  letter-spacing: 0.075rem
  background: colors.$dark-green 0% 0% no-repeat padding-box
  font-size: 3rem
  width: 20rem
  @include header-text-positioning(-15rem, 0rem)

p
  letter-spacing: 0.038rem
  font-size: 1.5rem
  width: 90%
  @include header-text-positioning(-15rem, 240%)
