@use '../../common-styles/colors.sass' as colors

#storyText
  p
    color: colors.$dark-green
    font-size: 1.4rem
    font-family: Arial
    line-height: 2.4rem

  @media screen and (min-width: 720px)
    p
      color: colors.$white
