@use '../../common-styles/colors.sass' as colors
@use '../../common-styles/constants.sass' as constants

@mixin header-text
  color: colors.$white
  font-family: Benton Sans
  text-transform: uppercase

header
  position: relative
  height: 20rem
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: space-between
  padding: constants.$default-y-padding constants.$default-x-padding

  @media screen and (min-width: 720px)
    height: 50rem

  @media screen and (min-width: 1260px)
    height: 84.2rem
    padding: constants.$default-y-padding 12rem

  & h1
    display: inline
    letter-spacing: 0.075rem
    line-height: 3.2rem
    background-color: colors.$dark-green
    font-size: 3rem
    width: 20rem
    margin-bottom: constants.$default-margin-y
    @include header-text

    @media screen and (min-width: 400px)
      width: 34rem

    @media screen and (min-width: 720px)
      font-size: 6rem
      width: 40rem
      height: 13rem
      line-height: 6.5rem
      padding: 0 constants.$default-x-padding

  & > p
    bottom: 0
    letter-spacing: 0.038rem
    font-size: 1.5rem
    width: 90%
    @include header-text

    @media screen and (min-width: 720px)
      font-size: 2rem
      color: colors.$soft-green
