@use '../../../common-styles/colors.sass' as colors
@use '../../../common-styles/constants.sass' as constants

@mixin textCommonStyle
  padding: constants.$default-y-padding constants.$default-x-padding
  font-size: 1.5rem
  font-family: Benton Sans

.player-filter
  @media screen and (min-width: 1260px)
    display: flex
    justify-content: center
    align-items: center

  &__dropdowns
    @media screen and (min-width: 720px)
      display: flex
      justify-content: flex-start

    @media screen and (min-width: 1260px)
      justify-content: flex-start
      align-items: center

    &__options
      &__container
        margin-top: 2rem
        @media screen and (min-width: 720px)
          width: 30rem

        @media screen and (min-width: 1260px)
          margin-top: 0

        &:not(:first-of-type)

        @media screen and (min-width: 720px)
          margin-left: 3rem

      &__selected
        font-style: oblique
        color: colors.$dark-green
        background-color: colors.$soft-green
        border-radius: 0.5rem
        @include textCommonStyle

      &__items
        display: flex
        position: absolute
        z-index: 2
        width: 65%
        flex-direction: column
        flex-wrap: wrap
        background-color: colors.$white
        box-shadow: 0px 3px 6px #00000052
        border-radius: 0.5rem
        @media screen and (min-width: 720px)
          width: 30rem

      &__radio
        display: none

      &__item
        display: block
        color: colors.$black
        @include textCommonStyle

        &:hover
          background-color: colors.$light-soft-green

  &__checkboxes
    display: flex
    justify-content: center
    align-items: center

    @media screen and (min-width: 1260px)
      padding-left: constants.$default-x-padding
      height: 5rem
      flex-direction: column
      align-items: start
      justify-content: space-between

    label
      @include textCommonStyle
      position: relative
      margin-left: 0.5rem

      @media screen and (min-width: 1260px)
        padding: 0

    input
      display: none

      &:not(:checked)
        appearance: none

      &:checked ~ .player-filter__checkboxes__box
        background-color: colors.$soft-green

    &__container
      display: inline-flex
      align-items: center

      &:hover .player-filter__checkboxes__box
        border: 2px solid colors.$dark-green

      &:hover input:checked ~ .player-filter__checkboxes__box
        background-color: colors.$dark-green

      &:hover .player-filter__checkboxes__box input
        accent-color: colors.$dark-green

    &__box
      position: relative
      z-index: 1
      width: 2.8rem
      height: 1.8rem
      border: 2px solid colors.$soft-green
      border-radius: 3px
      cursor: pointer
      background-color: transparent
      @media screen and (min-width: 400px)
        width: 1.8rem

      &:hover
        border: 2px solid colors.$dark-green

      &-mark
        // opacity: 1
        clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%)
        position: absolute
        background-color: colors.$white
        width: 100%
        height: 100%

        &:after
          content: ""
          position: absolute
          display: none
